
[Unit]
Description=Bluetooth to USB HID proxy

[Service]
User=root
ExecStart=python3 /usr/bin/bluetooth_2_usb.py --keyboard /dev/input/event3 --mouse /dev/input/event4
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Documentation=https://github.com/quaxalber/bluetooth_2_hid
ProtectSystem=strict

[Install]
WantedBy=multi-user.target