[Unit]
Description=pizero bluetooth to usb hid
After=usb_hid.service

[Service]
User=root
WorkingDirectory=/tmp/bluetooth_2_hid
ExecStart=python3 /usr/bin/bluetooth_2_hid.py -l -i /dev/input/event1
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
